@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);

/*
color theme used:
#140b04
#332312
#b59d75
#e3d2b4
#fff7ea

https://kuler.adobe.com/Double-Latte-color-theme-32095/
==================================================================*/

* { margin:0; padding:0; }
body { background:#e3d2b4; color:#140b04; font-family: 'Open Sans', 'sans-serif'; font-size:14px; }

.frame { margin:0 auto; width:80%; }

section { height:100%; }
#leadin { background:#140b04; }
#showcase { background:#332312; }
#about { background:#b59d75; }
#contact { background:#fff7ea; }

/*
responsive CSS for mobile devices
==================================================================*/
/*@media screen and (max-width:640px) {
	.frame { width:100%; }
}*/