/* ---------- color theme ----------
Primary color palette:
#00BCD4
100		#B2EBF2
500		#00BCD4
700		#0097A7

Secondary color palette:
#FFD740
A100	#FFE57F	
A400	#FFC400

Opacity on light background:
Base color: 100%
Text: 87%
Secondary text/icons: 54%
Disabled/Hints text: 38%
Dividers: 12%

Opacity on dark background:
Base color: 100%
Text: 100%
Secondary text/icons: 70%
Disabled/Hints text: 30%
Dividers: 12%
---------- ---------- */

/* ---------- reset CSS ---------- */
html, body { font-size:24px; color:#444; font-family: 'Share Tech', 'LiHei Pro', '微軟正黑體', 'Microsoft JhengHei', sans-serif; background:#fff; }
h1 { font-family:'Source Code Pro', monospace; font-weight: bold; }

a { cursor:pointer; text-decoration:none; }
a:focus, a:hover { text-decoration:none; }


/* ---------- content style ---------- */
nav { position:relative; position:fixed; left:0; top:0; width:100%; background:#00BCD4; box-shadow:0 0 10px rgba(0,0,0,0.50); z-index:999; }
nav a { padding: 10px 0; }
nav a span { display:inline-block; color:rgba(255,255,255,1); vertical-align:middle; font-size:24px; }
nav a:hover span { color:#FFC400; }

#landing { background:#444; }
#landing canvas { position: absolute; top:0; }

#home { height:100vh; }
#home:before { content:""; display:inline-block; height:100%; vertical-align:middle; margin-left:-.5em; }
#home h1 { display:inline-block; vertical-align:middle; max-width:100%; }


/* ---------- mobile style for device width <= 480px ---------- */
@media screen and (max-width: 768px) {
    nav { top:auto; bottom:0; }
}

